Food_Requirement_app_flow.json
[{"id":"84b549c7.21d748","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d7ecaaf9.374158","type":"function","z":"84b549c7.21d748","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"po\",msg.payload.po)\nvar apikey=\"xBMD68vsrvPcoa6QZqanN-JY5UMkypJnc6HK0QTqBTbt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":320,"wires":[["c2ce6385.0d28d"]]},{"id":"c2ce6385.0d28d","type":"http request","z":"84b549c7.21d748","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":499,"y":308.9999952316284,"wires":[["ae776ac5.c67eb8"]]},{"id":"e031437.35acbc","type":"debug","z":"84b549c7.21d748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":40,"wires":[]},{"id":"ae776ac5.c67eb8","type":"function","z":"84b549c7.21d748","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st = global.get('st')\nvar po = global.get('po')\nvar token=msg.payload.access_token\nvar instance_id=\"3fb58f16-244f-4299-8a15-58b87c2794fa\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"District (Area)\", \"Irrigated Area (in ha)\", \"Un irrigated Area (in ha)\", \"Total Area (in ha)\", \"Population\"], \"values\": [[rd,ad,ms,st,po]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":696.0000076293945,"y":271.9999990463257,"wires":[["569317ee.77def8"]]},{"id":"569317ee.77def8","type":"http request","z":"84b549c7.21d748","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3ed450fc-0258-42eb-a571-8c7a8416694f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":789.5000076293945,"y":215.99999904632568,"wires":[["ae8de394.7dde1","e031437.35acbc"]]},{"id":"ccaaf268.d13b5","type":"ui_form","z":"84b549c7.21d748","name":"","label":"","group":"bfba89e0.af3a48","order":0,"width":0,"height":0,"options":[{"label":"District (Area)","value":"rd","type":"text","required":true,"rows":null},{"label":"Irrigated Area (in ha)","value":"ad","type":"number","required":true,"rows":null},{"label":"Unirrigated Area (in ha)","value":"ms","type":"number","required":true,"rows":null},{"label":"Total Area(in ha)","value":"st","type":"number","required":true,"rows":null},{"label":"Population","value":"po","type":"number","required":true,"rows":null}],"formValue":{"rd":"","ad":"","ms":"","st":"","po":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":91,"y":362.9999952316284,"wires":[["d7ecaaf9.374158"]]},{"id":"a8311664.694c78","type":"ui_text","z":"84b549c7.21d748","group":"bfba89e0.af3a48","order":1,"width":0,"height":0,"name":"","label":"Requirement(in kg)","format":"{{msg.payload}}","layout":"row-spread","x":857.6000366210938,"y":368.20000743865967,"wires":[]},{"id":"ae8de394.7dde1","type":"function","z":"84b549c7.21d748","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":649.6000366210938,"y":111.60000133514404,"wires":[["a8311664.694c78"]]},{"id":"bfba89e0.af3a48","type":"ui_group","z":"","name":"Food Requirement Analysis","tab":"19febf42.6c4f41","order":2,"disp":true,"width":"6","collapse":false},{"id":"19febf42.6c4f41","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]